html {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	}

body {
	margin: 0;
	padding: 0;
	background-color: #0d1f27;
}

.summary a:link, a:visited {
	color: #f4a32e;
	padding: .15em;
	border: .2em solid #610606;
	background-color: black;
	text-decoration: none;
}

.summary a:hover {
	padding: .15em;
	border: .2em solid #5a4c3f;
	background-color: #1f1501;
	color: white;
}

@-webkit-keyframes daychange{
	0% {background-color: black;
		background-size: 8em;
		background-position: bottom right;
		opacity: 1;} 
	100% {background: url("sun.png");
		background-color: #f4a32e;
		background-size: 12em;
		background-position: top left;}
}

@keyframes daychange{
	0% {background-color: black;
		background-size: 8em;
		background-position: bottom right;
		opacity: 1;} 
	100% {background: url("sun.png");
		background-color: #f4a32e;
		background-size: 12em;
		background-position: top left;}
}

@-moz-keyframes daychange{
	0% {background-color: black;
		background-size: 8em;
		background-position: bottom right;
		opacity: 1;} 
	100% {background: url("sun.png");
		background-color: #f4a32e;
		background-size: 12em;
		background-position: top left;}
}

header {
	height: 20em;
	-webkit-animation: daychange;
	-moz-animation: daychange;
	animation:daychange;
	-webkit-animation-duration: 3s;
	-moz-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	background-repeat: no-repeat;
	border-bottom: black dashed .3em;
}

h1 {
	margin: 0;
	padding: 0;
	font-family: "Georgia", serif;
	font-size: 6em;	
	position: absolute;
	top: 2.25em;
	color: #610606;
}

h2 {
	margin: 0;
	padding: 0;
	transform: rotate(90deg);
	position: absolute;
	top: 6em;
	right: -5.5em;
}

h3 {
	font-family: "Georgia", serif;
	color: #5a4c3f;
}

.summary {
	margin-right: .75em;
	text-align: right;
	color: white;
}

.preamble {
	margin: .5em;
	padding: .5em;
	padding-top: .25em;
	width: 70%;
	border: 1em solid;
	border-color: black;
	background: #1f1501;
	color: white;
}

.preamble:hover {
	background: #f4a32e;
	color: black;
	border-color: white;
}

.explanation {
	margin: .5em;
	padding: .5em;
	padding-top: .25em;
	width: 70%;
	text-align: right;
	margin-left: 25%;
	border: 1em solid;
	background: black;
	border-color: #1f1501;
	color: white;
}

.explanation:hover{
	background: white;
	color: #1f1501;
	border-color: #f4a32e;
}

.supporting div:not(:first-child) h3{
	text-align: center;
	color: white;
}

.supporting div:not(:first-child) {
	padding: .3em;
	margin-left: .5em;
	background-color: #610606;
	width: 55%;
	border-bottom: .4em solid black;
	color: #f4a32e;
}

.supporting div:not(:first-child):hover {
	background-color: #5a4c3f;
}

.participation {
	margin-top: 2em;
	border-top: .4em solid black;
}

.participation a:link, .participation a:visited, 
.requirements a:link, .requirements a:visited{
	color: white;
}

.participation a:hover, .requirements a:hover{
	background-color: #1f1501;
	border: .15em solid black; 
	text-decoration: none;
}

.sidebar {
	color:#5a4c3f;
}

.sidebar a:link, a:visited{
	color:white;
}

.sidebar a:hover{
	color:#f4a32e;
}

ul li{
	list-style-type: none;
}

.sidebar h3 {
	margin-left: 2em;
	position: relative;
	top: 0;
	text-indent: 0;
	text-align: center;
	color: white;
}

.sidebar .design-selection{
	position: absolute;
	top: 62em;
	right: 0;
	width: 2em;
	transition: 1.5s;
	white-space: nowrap;
	background-color: #f4a32e;
	padding-left: 9.5em;
	border: .5em dotted #610606;
	border-right: none;
	background-image: url("moon.png");
	background-repeat: no-repeat;
	background-size: 6.75em;
	background-position: 3.5em;
	text-align: center;
	overflow: hidden;
}

.sidebar .design-archives{
	position: absolute;
	top: 92.5em;
	right: 0;
	width: 2em;
	transition: 1s;
	white-space: nowrap;
	background-color: #f4a32e;
	padding-left: 4.5em;
	border: .25em dotted #610606;
	border-right: none;
	background-image: url("moon.png");
	background-repeat: no-repeat;
	background-size: 2.6em;
	background-position: 1.5em;
	text-align: center;
	overflow-x: hidden;
	overflow-y: visible;
}

.sidebar .zen-resources{
	position: absolute;
	top: 79em;
	right: 0;
	width: 2em;
	transition: 1s;
	white-space: nowrap;
	background-color: #f4a32e;
	padding-left: 6em;
	border: .4em dotted #610606;
	border-right: none;
	background-image: url("moon.png");
	background-repeat: no-repeat;
	background-size: 4.65em;
	background-position: 1.5em;
	text-align: center;
	overflow-x: hidden;
	overflow-y: visible;
}

.sidebar .design-selection:hover{
	width: 30%;
	background-color: #1f1501
}

.sidebar .design-archives:hover{
	width: 15%;
	background-color: #1f1501
}

.sidebar .zen-resources:hover{
	width: 20%;
	background-color: #1f1501;
}

footer {
	text-align: right;
}

footer a:link, footer a:visited{
	color: white;
	text-decoration: none;
}


footer .zen-github {
	background: url("sun.png");
	background-size: 6em;
	background-repeat: no-repeat;
	background-position: bottom left;
	display: inline-block;
	height: 5em;
	width: 6.5em;
	overflow: hidden;
	white-space: nowrap;
	text-indent: 100%;
	padding-top: 2.4em;
	transition: 1s;
}

footer .zen-accessibility {
	background: url("sun.png");
	background-size: 6em;
	background-repeat: no-repeat;
	background-position: bottom left;
	display: inline-block;
	height: 5em;
	width: 6.5em;
	overflow: hidden;
	white-space: nowrap;
	text-indent: 100%;
	padding-top: 2.4em;
	transition: 1s;
}

footer .zen-license {
	background: url("sun.png");
	background-size: 6em;
	background-repeat: no-repeat;
	background-position: bottom left;
	display: inline-block;
	height: 5em;
	width: 6.5em;
	overflow: hidden;
	white-space: nowrap;
	text-indent: 100%;
	padding-top: 2.4em;
	transition: 1s;
}

footer .zen-validate-css {
	background: url("sun.png");
	background-size: 6em;
	background-repeat: no-repeat;
	background-position: bottom left;
	display: inline-block;
	height: 5em;
	width: 6.5em;
	overflow: hidden;
	white-space: nowrap;
	text-indent: 100%;
	padding-top: 2.4em;
	transition: 1s;
}

footer .zen-validate-html {
	background: url("sun.png");
	background-size: 6em;
	background-repeat: no-repeat;
	background-position: bottom left;
	display: inline-block;
	height: 5em;
	width: 6.5em;
	overflow: hidden;
	white-space: nowrap;
	text-indent: 100%;
	transition: 1s;
	padding-top: 2.4em;
}

footer .zen-validate-html:hover, .zen-validate-css:hover, .zen-license:hover, .zen-accessibility:hover, .zen-github:hover {
	background-position: top left;
	text-indent: -.4%;
	text-align: center;
}